$text-primary-color: #000;
$text-secondary-color: #545444;
$bg-color: #f0eeeb;
$border-color: #B2B2B1;

#hero {
    width: 100%;
    background-color: $bg-color;
    padding:  150px 20px 50px;

    .hero_container {
        max-width: 1440px;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .hero_content {
            width: 100%;
            max-width: 646px;

            h1 {
                font-weight: 700;
                font-size: 55px;
                line-height: 67px;

                color: $text-primary-color;
            }

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;

                color: $text-secondary-color;
                padding: 10px 0;

                span {
                    font-style: italic;
                }
            }

            .hero_list {
                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    padding: 5px 0;
                    color: $text-secondary-color;
                    
                    font-size: 18px;
                    font-weight: 700;

                    .icon {
                        color: $text-primary-color;
                    }


                }
            }

            .hero_form {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 20px;
                
                margin-top: 30px;
                
                input {
                    padding: 18px;
                    border-radius: 6px;
                    font-size: 18px;
                    border: 1px solid $border-color;
                }

                @media screen and (max-width: 660px) {
                    input {
                        width: 100%;
                        font-size: 16px;
                    }
                    button {
                        font-size: 16px;
                        padding: 18px;
                    }
                }
            }

            @media screen and (max-width: 660px) {
                h1 {
                    width: 100%;
                    font-size: 30px;
                    line-height: 40px;
                }

                p {
                    padding: 0 0 20px;

                }
            }
        }

        .img_desktop {
            width: 100%;
            max-width: 500px;
        }

        .img_tablet {
            display: none;
        }
        
        .img_mobile {
            display: none;
        }

        @media screen and (max-width: 900px) {
            padding: 20px;
            flex-direction: column-reverse;

            .img_tablet {
                display: block;
                width: 100%;
            }

            .img_desktop {
                display: none;
            }

            .hero_content {
                h1 {
                    padding: 20px 0;
                }
            }
        }

        @media screen and (max-width: 660px) {
            .img_tablet {
                display: none;
            }

            .img_mobile {
                display: block;
                width: 100%;
            }
        }
    }
}