$text-color: #000;
$text-color-hover: lighten($text-color, 30);
$bg-color: #F0EEEB;

$font-weight-logo: 700;
$font-size-logo: 24px;


#navbar {
    width: 100%;
    padding: 0 20px;
    background-color: $bg-color;
    backdrop-filter: blur(2px);

    position: fixed;
    top: 0;

    .navbar_container {
        width: 100%;
        max-width: 1440px;
        height: 100px;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            text-decoration: none;
            color: $text-color;
            font-weight: 700;
            font-size: 24px;

            &:hover {
                color: lighten($text-color, 30);
            }
        }

        .hamburger {
            display: none;
        }

        .nav_links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }

        .login_signIn {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        @media screen and (max-width: 900px) {
            .logo {
                width: 25%;
            }
        }
        
        @media screen and (max-width: 700px) {
            z-index: 1000;

            .hamburger {
                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                font-size: 36px;
            }

            .nav_links {
                position: absolute;
                top: 100px;
                left: -100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: .4s ease;
            }

            .linksActive {
                width: 100%;
                padding: 50px 0;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                position: absolute;
                top: 100px;
                left: 0;
                
                background-color: $bg-color;
                filter: drop-shadow(0 35px 15px rgba(85, 85, 85, 0.199));
            }

            .login_signIn {
                flex-direction: column;
            }
        }

    }
}

.link {
    text-decoration: none;
    color: $text-color;
    font-weight: 400;
    font-size: 18px;
    transition: .4s ease;

    &:hover {
        color: lighten($text-color, 30);
    }
}

